<div 
    [ngClass]="(currentCondition.isdaytime==='yes')?'day':(currentCondition.isdaytime==='no')? 'night' : 'loading'" 
    id="divWeatherMain"
> 
    <div  class="weatherWidgetRow">
        <img [src]="weatherIconUrl">
    </div>   
    
    <!-- <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div> -->
    <div class="weatherWidgetRow" style="font-size: 50px;margin-top: 5px;font-weight: bold;">{{currentCondition.temp_C}}°</div>
    <div class="weatherWidgetRow" style="font-size: 20px;margin-top: 5px;">{{weatherDescription}}</div>
    <!-- <div class="weatherWidgetRow" style="font-size: 12px;">{{currentCondition.temp_min}}° / {{currentCondition.temp_max}}°</div> -->
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{currentCondition.FeelsLikeC}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{currentCondition.humidity}}%</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;font-weight: bold;">{{country}}</div>
</div>
<div>
  <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input type="text"
               placeholder="Choose a City"
               aria-label="City"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
</div>
  